html, body {
	height: 100%; margin: 0; padding: 0; 
}
#map {
	min-height: 100%; top:0;bottom:0;right:0;left:0;position:absolute;min-width:100%
}
#floating-panel {
	top:0;left:0;position:absolute;z-index:2;visibility:hidden;
}