.panel{
	background:rgba(255,255,255,.2);margin:20px;
	padding-top:1px;padding-bottom:1px;padding-left:3px;padding-right:3px
}
.dimPanel{
	opacity:.9
}
.icons{
	padding:5px;margin:auto;opacity:.5
}
.icons:hover{
	opacity:1
}
.icons-normal{
	width:25px;height:25px;
}
.icons-large{
	width:32px;height:32px;
}
.icons-small{
	width:20px;height:20px;
}
.holder{
	background:rgba(255,255,255,.5);margin:auto;padding:2px;margin-top:2px;margin-bottom:3px
}
.holder:hover{
	background:rgba(255,255,255,1);
}